extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let foodid = toShow._id
    - let foodName  = toShow.foodName
    - let category = toShow.category
    - let price = toShow.price
    - let actionid = "/resource/foods/" + foodid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='foodsAttr mr-3') food ID is:
        div #{foodid}
      div.row
        div(class='foodsAttr mr-3') food name is:
        div #{foodName}
      div.row
        div(class='foodsAttr mr-3')  category :
        div #{category}
      div.row
        div(class='foodsAttr mr-3')  Cost is:
        div #{price}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/foods'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/foods'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
 